<div id = "sign_in" class = "well" align = "center">
<table>
  <tr><td colspan = "2"><h2>Registrarse</h2></td></tr>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

    <tr>
      <td width = "70px"><%= f.label "Nombre de usuario" %></td>
      <td><%= f.text_field :username %></td>
    </tr>

    <tr>
      <td width = "70px"><%= f.label :email %></td>
      <td><%= f.email_field :email %></td>
    </tr>
    <tr>
      <td><%= f.label "Contraseña" %></td>
      <td><%= f.password_field :password %></td>
    </tr>

    <tr>
      <td><%= f.label "Confirmar contraseña" %></td>
      <td><%= f.password_field :password_confirmation %></td>
    </tr>
    
    <tr>
      <td colspan = "2"><%= f.submit "Registrarse" %></td>
  <% end %>
    </tr>

    <tr>
    <td colspan = "2"><%= render "links" %></td>
    </tr>
</table>
</div>
