%table
  %tr
    %th Número de control:
    %td= @alumno.no_control
  %tr
    %th Nombre:
    %td= "#{@alumno.nombre} #{@alumno.apellido_paterno} #{@alumno.apellido_materno}"
  %tr
    %th Nombre:
    %td= "#{@alumno.nombre} #{@alumno.apellido_paterno} #{@alumno.apellido_materno}"
