%h2(align = "center") Editar proyecto
= form_for @proyecto, :url => :update_project do |f|
  %table(align = "center")
    %tr
      %td
        %h4 Categoría: * 
      %td= f.select :categoria, Proyecto::CATEGORIAS
      %td
        %h4 Nombre del proyecto: * **
      %td= f.text_field :nombre
    %tr
      %td
        %h4 Área de participación: *
      %td= f.select :area_participacion, Proyecto::AREAS_DE_PARTICIPACION
      %td
        %h4 Numero de autores (de 1 a 5): *
      %td= f.select :numero_de_autores, 1..5
    %tr
      %td
      %td
        %h4 Numero de asesores (de 0 a 2): *
      %td(colspan = "2")= f.select :numero_asesores, 0..2
    %tr
      %td
        %h4 Objetivo del proyecto: *
        = f.text_area :objetivo
      %td
        %h4 Innovación:
        = f.text_area :innovacion
      %td
        %h4 Resultados esperados:
        = f.text_area :resultados_esperados
      %td
        %h4 Requerimientos(Mesas, sillas, etc...)
        %ul
        - unless @proyecto.requerimentos.nil?
          - @proyecto.requerimentos.split(',').each do |requerimiento|
            - unless requerimiento.blank?
              %li= requerimiento
    %tr
      %td
        %p(style = "color:red;") * Campos requeridos
        %p(style = "color:red;")** El nombre debe estar disponible
      %td
      %td= f.submit 'Guardar proyecto'
