%h2(align = "center") Registro de proyectos
= form_for @proyecto, :url => :create_project do |f|
  %table(align = "center")
    %tr
      %td
        %h4 Categoría: * 
      %td= f.select :categoria, Proyecto::CATEGORIAS
      %td
        %h4 Nombre del proyecto: * **
      %td= f.text_field :nombre
    %tr
      %td
        %h4 Área de participación: *
      %td= f.select :area_participacion, Proyecto::AREAS_DE_PARTICIPACION
      %td
        %h4 Numero de autores (de 1 a 5): *
      %td= f.select :numero_de_autores, 1..5
    %tr
      %td
      %td
        %h4 Numero de asesores (de 0 a 2): *
      %td(colspan = "2")= f.select :numero_asesores, 0..1
    %tr
      %td
        %h4 Objetivo del proyecto: *
        = f.text_area :objetivo
      %td
        %h4 Innovación:
        = f.text_area :innovacion
      %td
        %h4 Resultados esperados:
        = f.text_area :resultados_esperados
      %td
        %h4 Requerimientos(Mesas, sillas, etc...)
        %input{ :type =>"checkbox", :name =>"requerimientos[Mesa]", :value => "Mesa,"}
        Mesa
        %br
        %input{ :type =>"checkbox", :name =>"requerimientos[Sillas]", :value => "Sillas,"}
        Sillas
        %br
        %input{ :type =>"checkbox", :name =>"requerimientos[Multicontacto]", :value => "Multicontacto,"}
        Multicontacto
        %br
        %input{ :type =>"checkbox", :name =>"requerimientos[Extension]", :value => "Extension"}
        Extensión
    %tr
      %td
        %p(style = "color:red;") * Campos requeridos
        %p(style = "color:red;")** El nombre debe estar disponible
      %td
      %td= f.submit 'Guardar proyecto'

