%h2= @proyecto.nombre

= form_tag edit_alumno_path(params[:proyecto_id]), :remote => true do
  = label_tag 'Ingrese el numero de control:'
  = text_field_tag :id 
  = button_to 'Buscar'


#edit-alumno
