%h2(align = "center")= @proyecto.nombre

= form_tag edit_alumno_path(params[:proyecto_id]), :remote => true do
  %table(align = "center")
    %tr
      %td= label_tag 'Ingrese el numero de control:'
      %td= text_field_tag :id 
      %td= button_to 'Buscar'

#edit-alumno
