<div id = "sign_in" class = "well">
<table>
  <tr><td colspan = "2"><h2>Iniciar sesi칩n</h2></td></tr>

  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <tr>
      <td width = "70px"><%= f.label :email %></td>
      <td><%= f.email_field :email %></td>
    </tr>
    <tr>
      <td><%= f.label "Contrase침a" %></td>
      <td><%= f.password_field :password %></td>
    </tr>

    <tr>
      <% if devise_mapping.rememberable? -%>
      <td><%= f.check_box :remember_me %></td>
      <td><%= f.label "Recordar contrase침a" %></td>
      <% end -%>
    <tr>

      <tr>
        <td colspan = "2"><%= f.submit "Iniciar sesi칩n" %></td>
  <% end %>
    </tr>

    <tr>
    <td colspan = "2"><%= render "links" %></td>
    </tr>
  </table>
</div>
