!!!
%html
  %head
    %title Registro de proyectos de innovación
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %div(align = "center")
      - if notice
        %div.alert.alert-success
          %p= notice
      - if alert
        %p.alert= alert
    #page
      #header
      #navigation
        #index
          %h3= link_to "Inicio", root_path
        #dashboard
          %h3= link_to "Registrar proyectos", registrations_path
        #session
          - if user_signed_in?
            #email
              = current_user.email
            #button
              = button_to "Cerrar sesión", destroy_user_session_path, :method => "delete"
        #content
          = yield
        #footer
          %p &copy WaveSystems 2012
