!!!
%html
  %head
    %title Registro de proyectos de innovación
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %p.notice= notice
    %p.alert= alert
    #header
    #navigation
    #content
      = yield
    #footer
